/* Profile Image */
.Photo {
	background-image: url("/src/images/projects/AustinSpragginsWebDev.png");
}
/* Projects Photos */

/* Effycient Landing Page */

.project1 {
	background-image: url("/src/images/effycient-page.png");
	cursor: none;
}

/* Project 2: SASS Web Portfolio */

.project2 {
	background-image: url("/src/images/projects/sass-page.png");
	cursor: none;
}

/* Project 3: Shadow Gaming Channel */

.project3 {
	background-image: url("/src/images/sg-main-large.png");
	width: 40%;
	cursor: none;
}

/* Project 4: Jessica Spraggins's Website I Created */

.project4 {
	background-image: url("/src/images/projects/jessica-page.png");
	cursor: none;
}

/* Project 4: SG Main Landing Page */

.project5 {
	background-image: url("/src/images/projects/sg-mainpage.png");
	cursor: none;
}

/* Project 4: RPS With Lilly*/

.project6 {
	background-image: url("/src/images/projects/rps-lilly.png");
	cursor: none;
}
.project7 {
	background-image: url("/src/images/Battleship-game.png");
	cursor: none;
}
.project8 {
	background-image: url("/src/images/responsive-menu.png");
	cursor: none;
	width: 20%;
}

/* Education & Achievements */

.misc1 {
	background-image: url("/src/images/projects/as-webcert.jpg");
	cursor: none;
}
.misc2 {
	background-image: url("/src/images/projects/AA-webdesign.png");
	cursor: none;
}
.misc3 {
	background-image: url("/src/images/projects/truck2program.png");
	cursor: none;
}
