@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
:root {
    --primary-color: #0818A8;
    --hover-color: #0047AB;
}